@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
  background: #FFB533;
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
  text-align: center;
}

.steps {
  border-radius: 50%;
  height: 24em;
  list-style: none;
  margin: 0 auto;
  position: relative;
  width: 24em;
  z-index: 0;
}

.steps.light { border: 2px solid white; }
.steps.dark { border: 2px solid #373232; }

.steps__icon {
  padding-top: 2.5em;
  width: 50%;
}
.steps__description {
  bottom: 4.5em;
  font-size: 0.9em;
  padding: 0em 6em;
}
.steps__description span {
  font-weight: bold;
}
.steps__description a {
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  display: inline-block;
  font-size: 0.9em;
  padding: 0.2em 0.5em;
  text-decoration: none;
}
.steps__description a:hover {
  background: #373232;
  color: #fff;
}

.is-active a {
  background: #373232 !important;
}

#steps-menu ul li {
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  -webkit-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;

  border-left: 170px solid transparent;
  border-top: 1px solid transparent;
  font-size: 0.65em;
  left: 50%;
  list-style: none;
  position: absolute;
  top: 50%;
  transform-origin: 0 0;
}
#steps-menu ul li:after {
  content: " ";
  background: url("http://krystalcampioni.com/testes/arrow.png");
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 3.5em;
  height: 0.4em;
  margin-left: -0.15em;
  margin-top: -2.2em;
  position: absolute;
  transform: rotate(-22deg);
  width: 0.7em;
}
#steps-menu ul li a {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  border-radius: 50%;
  box-shadow: 0 0 0 0 transparent;
  font-size: 1.6em;
  height: 2.6em;
  line-height: 2.2;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 2.6em;
}

#steps-menu ul li a:hover {
  background: #373232;
}

.steps.light #steps-menu ul li a {
  background: #FFB533;
  border: 2px solid #fff;
  color: #fff;
}

.steps.light #steps-menu ul li a:hover {
  background: #373232;
  color: #fff;
}

.steps.dark #steps-menu ul li a {
  background: #F2EBEB;
  border: 2px solid #373232;
  color: #373232;
}

.steps.dark #steps-menu ul li.is-active a {
  color: #fff;
}

.steps.dark #steps-menu ul li a:hover {
  background: #373232;
  color: #fff;
}

.steps.light { color: #fff; }
.steps.dark { color: #373232; }

.steps.light .steps__description a {
  color: #373232;
  border-bottom: 1px solid #373232;
}
.steps.dark .steps__description a {
  color: #FFB533;
  border-bottom: 1px solid #FFB533;
}


.step-1 ul li:nth-of-type(1) {
  transform: rotate(-97deg);
}
.step-1 ul li:nth-of-type(1) a {
  transform: rotate(97deg);
}

.step-2 ul li:nth-of-type(1) {
  transform: rotate(-157deg);
}
.step-2 ul li:nth-of-type(1) a {
  transform: rotate(157deg);
}

.step-3 ul li:nth-of-type(1) {
  transform: rotate(-217deg);
}
.step-3 ul li:nth-of-type(1) a {
  transform: rotate(217deg);
}

.step-4 ul li:nth-of-type(1) {
  transform: rotate(-277deg);
}
.step-4 ul li:nth-of-type(1) a {
  transform: rotate(277deg);
}

.step-5 ul li:nth-of-type(1) {
  transform: rotate(-337deg);
}
.step-5 ul li:nth-of-type(1) a {
  transform: rotate(337deg);
}

.step-6 ul li:nth-of-type(1) {
  transform: rotate(-397deg);
}
.step-6 ul li:nth-of-type(1) a {
  transform: rotate(397deg);
}

.step-1 ul li:nth-of-type(2) {
  transform: rotate(-37deg);
}
.step-1 ul li:nth-of-type(2) a {
  transform: rotate(37deg);
}

.step-2 ul li:nth-of-type(2) {
  transform: rotate(-97deg);
}
.step-2 ul li:nth-of-type(2) a {
  transform: rotate(97deg);
}

.step-3 ul li:nth-of-type(2) {
  transform: rotate(-157deg);
}
.step-3 ul li:nth-of-type(2) a {
  transform: rotate(157deg);
}

.step-4 ul li:nth-of-type(2) {
  transform: rotate(-217deg);
}
.step-4 ul li:nth-of-type(2) a {
  transform: rotate(217deg);
}

.step-5 ul li:nth-of-type(2) {
  transform: rotate(-277deg);
}
.step-5 ul li:nth-of-type(2) a {
  transform: rotate(277deg);
}

.step-6 ul li:nth-of-type(2) {
  transform: rotate(-337deg);
}
.step-6 ul li:nth-of-type(2) a {
  transform: rotate(337deg);
}

.step-1 ul li:nth-of-type(3) {
  transform: rotate(23deg);
}
.step-1 ul li:nth-of-type(3) a {
  transform: rotate(-23deg);
}

.step-2 ul li:nth-of-type(3) {
  transform: rotate(-37deg);
}
.step-2 ul li:nth-of-type(3) a {
  transform: rotate(37deg);
}

.step-3 ul li:nth-of-type(3) {
  transform: rotate(-97deg);
}
.step-3 ul li:nth-of-type(3) a {
  transform: rotate(97deg);
}

.step-4 ul li:nth-of-type(3) {
  transform: rotate(-157deg);
}
.step-4 ul li:nth-of-type(3) a {
  transform: rotate(157deg);
}

.step-5 ul li:nth-of-type(3) {
  transform: rotate(-217deg);
}
.step-5 ul li:nth-of-type(3) a {
  transform: rotate(217deg);
}

.step-6 ul li:nth-of-type(3) {
  transform: rotate(-277deg);
}
.step-6 ul li:nth-of-type(3) a {
  transform: rotate(277deg);
}

.step-1 ul li:nth-of-type(4) {
  transform: rotate(83deg);
}
.step-1 ul li:nth-of-type(4) a {
  transform: rotate(-83deg);
}

.step-2 ul li:nth-of-type(4) {
  transform: rotate(23deg);
}
.step-2 ul li:nth-of-type(4) a {
  transform: rotate(-23deg);
}

.step-3 ul li:nth-of-type(4) {
  transform: rotate(-37deg);
}
.step-3 ul li:nth-of-type(4) a {
  transform: rotate(37deg);
}

.step-4 ul li:nth-of-type(4) {
  transform: rotate(-97deg);
}
.step-4 ul li:nth-of-type(4) a {
  transform: rotate(97deg);
}

.step-5 ul li:nth-of-type(4) {
  transform: rotate(-157deg);
}
.step-5 ul li:nth-of-type(4) a {
  transform: rotate(157deg);
}

.step-6 ul li:nth-of-type(4) {
  transform: rotate(-217deg);
}
.step-6 ul li:nth-of-type(4) a {
  transform: rotate(217deg);
}

.step-1 ul li:nth-of-type(5) {
  transform: rotate(143deg);
}
.step-1 ul li:nth-of-type(5) a {
  transform: rotate(-143deg);
}

.step-2 ul li:nth-of-type(5) {
  transform: rotate(83deg);
}
.step-2 ul li:nth-of-type(5) a {
  transform: rotate(-83deg);
}

.step-3 ul li:nth-of-type(5) {
  transform: rotate(23deg);
}
.step-3 ul li:nth-of-type(5) a {
  transform: rotate(-23deg);
}

.step-4 ul li:nth-of-type(5) {
  transform: rotate(-37deg);
}
.step-4 ul li:nth-of-type(5) a {
  transform: rotate(37deg);
}

.step-5 ul li:nth-of-type(5) {
  transform: rotate(-97deg);
}
.step-5 ul li:nth-of-type(5) a {
  transform: rotate(97deg);
}

.step-6 ul li:nth-of-type(5) {
  transform: rotate(-157deg);
}
.step-6 ul li:nth-of-type(5) a {
  transform: rotate(157deg);
}

.step-1 ul li:nth-of-type(6) {
  transform: rotate(203deg);
}
.step-1 ul li:nth-of-type(6) a {
  transform: rotate(-203deg);
}

.step-2 ul li:nth-of-type(6) {
  transform: rotate(143deg);
}
.step-2 ul li:nth-of-type(6) a {
  transform: rotate(-143deg);
}

.step-3 ul li:nth-of-type(6) {
  transform: rotate(83deg);
}
.step-3 ul li:nth-of-type(6) a {
  transform: rotate(-83deg);
}

.step-4 ul li:nth-of-type(6) {
  transform: rotate(23deg);
}
.step-4 ul li:nth-of-type(6) a {
  transform: rotate(-23deg);
}

.step-5 ul li:nth-of-type(6) {
  transform: rotate(-37deg);
}
.step-5 ul li:nth-of-type(6) a {
  transform: rotate(37deg);
}

.step-6 ul li:nth-of-type(6) {
  transform: rotate(-97deg);
}
.step-6 ul li:nth-of-type(6) a {
  transform: rotate(97deg);
}

.step-content {
  display: none;
}

#step-1 {
  display: block;
}
