---
layout: default-en
---

<section class="main-banner" id="home">

  <div class="main-banner__tablet">
    <img src="/images/2016/pic-tablet.png" alt="">
  </div>

  <div class="main-banner__content">
    <h1 class="main-banner__h1">
      Development and <br>product design solutions <br>for your Startup.
    </h1>
    <h2 class="main-banner__h2">
      We transform your idea into a <strong>prototype for validation</strong> and tests with real users
      or a <strong>MVP ready to go</strong> within two weeks, with our team of product and Agile experts.
    </h2>
  </div>

</section>

<section class="protoapp" id="protoapp">
  <div class="protoapp__content">

    <div class="protoapp__col">
      <img src="/images/2016/graphic1.png" alt="">
    </div>

    <div class="protoapp__col">
      <h2 class="protoapp__title">ProtoApp</h2>
      <p class="protoapp__description">
        Through design thinking and UX concepts,
        we find out problemas e bring <strong>solutions to your idea</strong>,
        delivering a <strong>prototype</strong> for demonstration, validation
        and tests with real users, all that <strong>within two weeks.</strong>
      </p>
      <a href="#modal" class="btn btn--primary" id="cta-hire-protoapp">Hire Us</a>
    </div>

  </div>
</section>

<section class="mvp" id="mvp">
  <div class="mvp__content">

    <div class="mvp__col">
      <h2 class="mvp__title">MVP Expresso</h2>
      <p class="mvp__description">
        Detailing your needs, we plan the whole project
        and deliver a <strong>web or mobile app ready</strong> to hit your
        audience within one (web) or two working weeks (mobile),
        at a fixed investment.
      </p>
      <a href="#modal" class="btn btn--primary" id="cta-hire-mvpexpresso">Hire Us</a>
    </div>

    <div class="mvp__col">
      <img src="/images/2016/graphic2.png" alt="">
    </div>

  </div>
</section>

<section class="methodology" id="result">
  <div class="methodology__content">

    <span class="methodology__result">result</span>
    <h2 class="methodology__title">Metodology</h2>
    <p class="methodology__description">
      Find out how your idea will become a successful <br>
      App or Prototype within one or two working weeks.
    </p>

    <a class="fancybox methodology__play" href="/videos/apresentation.html">
      <span class="icon"></span>
      <span class="text">Watch our video</span>
    </a>

  </div>
</section>


<section class="testimonials">
  <div class="testimonials__content">

    <span class="testimonials__result">result</span>
    <h2 class="testimonials__title">Testimonials</h2>

    <div class="slider-testimonial">

      <ul class="bxslider">
      {% for testimonial in site.data.testimonials-en %}

        <li>
          <p class="slider-testimonial__quote">
            {{ testimonial.quote }}
          </p>

          <div class="slider-testimonial__picture">
            <img src="/images/avatars/{{ testimonial.picture }}.png" alt="Author">
          </div>

          <div class="slider-testimonial__author">{{ testimonial.author }}</div>
          <div class="slider-testimonial__project">{{ testimonial.project }}</div>
        </li>
        <!-- end quote -->

      {% endfor %}
      </ul>

      <!-- slider controls -->
      <span class="slider-testimonial__prev"></span>
      <span class="slider-testimonial__next"></span>

    </div>
    <!-- slider -->

  </div>

  <div class="testimonials-video">

    <a class="testimonials-video__box fancybox" href="/videos/arthur-granado.html">
      <figure><img src="/images/2016/testimonial1.jpg" alt="Arthur Granado"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Arthur Granado</span>
        <span class="testimonials-video__project">21212</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" href="/videos/amure-pinho.html" >
      <figure><img src="/images/2016/testimonial2.jpg" alt="Amure Pinho"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Amure Pinho</span>
        <span class="testimonials-video__project">Amigo Não Se Compra</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" href="/videos/cezar-souza.html">
      <figure><img src="/images/2016/testimonial3.jpg" alt="Cezar Souza"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Cezar Souza</span>
        <span class="testimonials-video__project">VentureOne</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" href="/videos/juan-bernabo.html">
      <figure><img src="/images/2016/testimonial4.jpg" alt="Juan Bernabó"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Juan Bernabó</span>
        <span class="testimonials-video__project">TeamWare</span>
      </div>
    </a>

  </div>

</section>


<section class="projects">
  <div class="projects__content">
    <span class="projects__result">result</span>
    <h2 class="projects__title">Success</h2>
    <p class="projects__description">
      More than 80 well succeeded projects.
    </p>
  </div>

  <div class="projects__grid">
  {% for project in site.data.projects %}
    <a class="projects__item" href="{{ project.url }}" target="_blank">
      <img src="{{ project.image }}" alt="{{ project.name }}" />
      <span class="projects__name">{{ project.name }}</span>
    </a>
  {% endfor %}
  </div>
</section>

{% include contact-modal.html %}
