<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content='desenvolvimento, programação, webapp, aplicativo web, aplicativo, startup' name='keywords'>
<meta content='Desenvolvimento de sistemas web para startups com preço fixo e em apenas uma semana.' name='description'>

<meta http-equiv="Cache-Control" content="private">
<meta http-equiv="expires" content="Mon, 04 apr 2017 11:12:01 GMT">
<meta http-equiv="Cache-Control" content="max-age=31536000">
