<!-- <link href="/css/jquery.fancybox-1.3.4.css" media="all" rel="stylesheet"> -->
<!--link href="/css/styles.css" media="all" rel="stylesheet" /-->
<!--link href="/css/form.css" media="all" rel="stylesheet" /-->
<!-- <link href="/css/remodal.css" media="all" rel="stylesheet">-->
<!-- <link href="/css/remodal-default-theme.css" media="all" rel="stylesheet"> -->
<!-- <link rel="stylesheet" href="/stylesheets/site.css"> -->
<!--link rel="stylesheet" href="/css/carousel.css"-->

  <script>
    {% include loadCSS.js %}
    loadCSS("/css/jquery.fancybox-1.3.4.css");
    loadCSS("/css/remodal.css");
    loadCSS("/css/remodal-default-theme.css");
    loadCSS("/stylesheets/site.css");
  </script>
