---
layout: default
---

<section class="main-banner" id="home">

  <div class="main-banner__tablet">
    <img src="/images/2016/pic-tablet.png" alt="">
  </div>

  <div class="main-banner__content">
    <h1 class="main-banner__h1">
      Soluções de <br>desenvolvimento e design <br> de produto para sua Startup.
    </h1>
    <h2 class="main-banner__h2">
      Transformamos sua idéia em um <strong>protótipo para validação</strong> e testes com usuários
      reais ou um <strong>MVP pronto</strong> pra ser usado em até duas semanas, com nosso time
      de experts em produto e metodologia Ágil.
    </h2>
  </div>

</section>

<section class="protoapp" id="protoapp">
  <div class="protoapp__content">

    <div class="protoapp__col protoapp__col--pic">
      <!--<img src="/images/2016/graphic1.png" alt="">-->

      <!-- Graphics -->
      <div class="wrapper">
        <div id="steps" class="steps light">
          <div id="step-1" class="step-content">
            <img src="/images/2016/papp-lifecycle-01.svg" onerror="this.onerror=null; this.src='/images/2016/papp-lifecycle-01.svg'" class="steps__icon"/>
            <div class="steps__description">
              O ProtoApp começa com o <span>levantamento de problemas</span> a partir da sua idéia.
              <br>
              <a href="#step-2" class="read-more">Saiba mais</a>
            </div>
          </div>
          <div id="step-2" class="step-content">
            <img src="/images/2016/papp-lifecycle-02.svg" onerror="this.onerror=null; this.src='/images/2016/papp-lifecycle-02.svg'" class="steps__icon"/>
            <div class="steps__description">
              No segundo dia, investimos no levantamento das <span>soluções possíveis.</span>
              <br>
              <a href="#step-3" class="read-more">Saiba mais</a>
            </div>
          </div>
          <div id="step-3" class="step-content">
            <img src="/images/2016/papp-lifecycle-03.svg" onerror="this.onerror=null; this.src='/images/2016/papp-lifecycle-03.svg'" class="steps__icon"/>
            <div class="steps__description">
              O desenho dos primeiros <span>wireframes</span> toma o terceiro dia de trabalho.
              <br>
              <a href="#step-4" class="read-more">Saiba mais</a>
            </div>
          </div>
          <div id="step-4" class="step-content">
            <img src="/images/2016/papp-lifecycle-04.svg" onerror="this.onerror=null; this.src='/images/2016/papp-lifecycle-04.svg'" class="steps__icon"/>
            <div class="steps__description">
              Preparamos com você <span>mockups</span> da interface do produto no quarto dia da semana.
              <br>
              <a href="#step-5" class="read-more">Saiba mais</a>
            </div>
          </div>
          <div id="step-5" class="step-content">
            <img src="/images/2016/papp-lifecycle-05.svg" onerror="this.onerror=null; this.src='/images/2016/papp-lifecycle-05.svg'" class="steps__icon"/>
            <div class="steps__description">
              <span>Testes e validação</span> das soluções com <span>usuários reais</span> fecham o primeiro ciclo.
              <br>
              <a href="#step-6" class="read-more">Saiba mais</a>
            </div>
          </div>
          <div id="step-6" class="step-content">
            <img src="/images/2016/papp-lifecycle-06.svg" onerror="this.onerror=null; this.src='/images/2016/papp-lifecycle-06.svg'" class="steps__icon"/>
            <div class="steps__description">
              Na segunda semana, transformamos seu produto em <span>mockups finais navegáveis.</span>
              <br>
              <a href="#step-1" class="read-more">Retornar</a>
            </div>
          </div>
          <div id="steps-menu" class="step-1">
            <ul>
              <li class="is-active"><a id="link1" href="#step-1">1</a></li>
              <li><a id="link2" href="#step-2">2</a></li>
              <li><a id="link3" href="#step-3">3</a></li>
              <li><a id="link4" href="#step-4">4</a></li>
              <li><a id="link5" href="#step-5">5</a></li>
              <li><a id="link6" href="#step-6">6</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Graphics -->
    </div>

    <div class="protoapp__col">
      <h2 class="protoapp__title">ProtoApp</h2>
      <p class="protoapp__description">
        Através do design thinking e conceitos de UX,
        levantamos problemas e <strong>soluções para sua idéia</strong>,
        entregamos um <strong>protótipo</strong> para demosntração, validação
        e testes com usuários reais, em <strong>duas semanas</strong>.
      </p>
      <a href="#modal" class="btn btn--primary" id="cta-hire-protoapp">Contrate</a>
    </div>

  </div>
</section>

<section class="mvp" id="mvp">
  <div class="mvp__content">

    <div class="mvp__col">
      <h2 class="mvp__title">MVP Expresso</h2>
      <p class="mvp__description">
        Detalhamos sua necessidade, planejamos o projeto
        e entregamos um <strong>app web ou mobile pronto</strong> para
        ser usado ao final de uma semana de trabalho (web)
        ou duas (mobile), com investimento fixo.
      </p>
      <a href="#modal" class="btn btn--primary" id="cta-hire-mvpexpresso">Contrate</a>
    </div>

    <div class="mvp__col">
      <!-- <img src="/images/2016/graphic2.png" alt=""> -->

      <!-- Graphics -->
      <div class="wrapper">
        <div id="steps" class="steps dark">
          <div id="step-1" class="step-content">
            <img src="/images/2016/mvpe-lifecycle-01.svg" onerror="this.onerror=null; this.src='/images/2016/mvpe-lifecycle-01.svg'" class="steps__icon"/>
            <div class="steps__description">
              Após contratar o MVP Expresso, o primeiro dia do projeto é dedicado a <span>conhecer sua ideia.</span>
              <br>
              <a href="#step-2" class="read-more">Saiba mais</a>
            </div>
          </div>
          <div id="step-2" class="step-content">
            <img src="/images/2016/mvpe-lifecycle-02.svg" onerror="this.onerror=null; this.src='/images/2016/mvpe-lifecycle-02.svg'" class="steps__icon"/>
            <div class="steps__description">
              No segundo dia, <span>desenhamos telas</span> no papel e decidimos juntos as melhores soluções.
              <br>
              <a href="#step-3" class="read-more">Saiba mais</a>
            </div>
          </div>
          <div id="step-3" class="step-content">
            <img src="/images/2016/mvpe-lifecycle-03.svg" onerror="this.onerror=null; this.src='/images/2016/mvpe-lifecycle-03.svg'" class="steps__icon"/>
            <div class="steps__description">
              Em seguida, estimamos todas as <span>tarefas</span> necessárias para os próximos dias de trabalho.
              <br>
              <a href="#step-4" class="read-more">Saiba mais</a>
            </div>
          </div>
          <div id="step-4" class="step-content">
            <img src="/images/2016/mvpe-lifecycle-04.svg" onerror="this.onerror=null; this.src='/images/2016/mvpe-lifecycle-04.svg'" class="steps__icon"/>
            <div class="steps__description">
              Atribuímos diferentes pesos às tarefas e você <span>escolhe a ordem</span> em que serão desenvolvidas.
              <br>
              <a href="#step-5" class="read-more">Saiba mais</a>
            </div>
          </div>
          <div id="step-5" class="step-content">
            <img src="/images/2016/mvpe-lifecycle-05.svg" onerror="this.onerror=null; this.src='/images/2016/mvpe-lifecycle-05.svg'" class="steps__icon"/>
            <div class="steps__description">
              Dedicamos os dias seguintes ao <span>desenvolvimento</span> e execução das tarefas na ordem priorizada.
              <br>
              <a href="#step-6" class="read-more">Saiba mais</a>
            </div>
          </div>
          <div id="step-6" class="step-content">
            <img src="/images/2016/mvpe-lifecycle-06.svg" onerror="this.onerror=null; this.src='/images/2016/mvpe-lifecycle-06.svg'" class="steps__icon"/>
            <div class="steps__description">
              A última etapa é dedicada aos testes e <span>entrega final.</span> Pronto: você sai com seu App na mão!
              <br>
              <a href="#step-1" class="read-more">Retornar</a>
            </div>
          </div>
          <div id="steps-menu" class="step-1">
            <ul>
              <li class="is-active"><a id="link1" href="#step-1">1</a></li>
              <li><a id="link2" href="#step-2">2</a></li>
              <li><a id="link3" href="#step-3">3</a></li>
              <li><a id="link4" href="#step-4">4</a></li>
              <li><a id="link5" href="#step-5">5</a></li>
              <li><a id="link6" href="#step-6">6</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Graphics -->
    </div>

  </div>
</section>

<section class="methodology" id="resultado">
  <div class="methodology__content">

    <span class="methodology__result">resultado</span>
    <h2 class="methodology__title">Metodologia</h2>
    <p class="methodology__description">
      Descubra como sua idéia vira App ou Protótipo <br>
      em uma ou duas semanas de trabalho.
    </p>

    <a class="fancybox methodology__play" href="/videos/apresentation.html">
      <span class="icon"></span>
      <span class="text">Assista ao vídeo</span>
    </a>

  </div>
</section>


<section class="testimonials">
  <div class="testimonials__content">

    <span class="testimonials__result">resultado</span>
    <h2 class="testimonials__title">Depoimentos</h2>

    <div class="slider-testimonial">

      <ul class="bxslider">
      {% for testimonial in site.data.testimonials %}

        <li>
          <p class="slider-testimonial__quote">
            {{ testimonial.quote }}
          </p>

          <div class="slider-testimonial__picture">
            <img src="/images/avatars/{{ testimonial.picture }}.png" alt="Author">
          </div>

          <div class="slider-testimonial__author">{{ testimonial.author }}</div>
          <div class="slider-testimonial__project">{{ testimonial.project }}</div>
        </li>
        <!-- end quote -->

      {% endfor %}
      </ul>

      <!-- slider controls -->
      <span class="slider-testimonial__prev"></span>
      <span class="slider-testimonial__next"></span>

    </div>
    <!-- slider -->

  </div>

  <div class="testimonials-video">

    <a class="testimonials-video__box fancybox" href="/videos/arthur-granado.html">
      <figure><img src="/images/2016/testimonial1.jpg" alt="Arthur Granado"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Arthur Granado</span>
        <span class="testimonials-video__project">21212</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" href="/videos/amure-pinho.html" >
      <figure><img src="/images/2016/testimonial2.jpg" alt="Amure Pinho"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Amure Pinho</span>
        <span class="testimonials-video__project">Amigo Não Se Compra</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" href="/videos/cezar-souza.html">
      <figure><img src="/images/2016/testimonial3.jpg" alt="Cezar Souza"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Cezar Souza</span>
        <span class="testimonials-video__project">VentureOne</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" href="/videos/juan-bernabo.html">
      <figure><img src="/images/2016/testimonial4.jpg" alt="Juan Bernabó"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Juan Bernabó</span>
        <span class="testimonials-video__project">TeamWare</span>
      </div>
    </a>

  </div>

</section>


<section class="projects">
  <div class="projects__content">
    <span class="projects__result">resultado</span>
    <h2 class="projects__title">Sucesso</h2>
    <p class="projects__description">
      Mais de 80 projetos bem sucedidos.
    </p>
  </div>

  <div class="projects__grid">
  {% for project in site.data.projects %}
    <a class="projects__item" href="{{ project.url }}" target="_blank">
      <img src="{{ project.image }}" alt="{{ project.name }}" />
      <span class="projects__name">{{ project.name }}</span>
    </a>
  {% endfor %}
  </div>
</section>

{% include contact-modal.html %}
