---
layout: default
---

<section class="main-banner" id="home">

  <div class="main-banner__tablet">
    <img src="/images/2016/pic-tablet.png" alt="">
  </div>

  <div class="main-banner__content">
    <h1 class="main-banner__h1">
      Soluções de <br>desenvolvimento e design <br> de produto para sua Startup.
    </h1>
    <h2 class="main-banner__h2">
      Transformamos sua idéia em um <strong>protótipo para validação</strong> e testes com usuários
      reais ou um <strong>MVP pronto</strong> pra ser usado em até duas semanas, com nosso time
      de experts em produto e metodologia Ágil.
    </h2>
  </div>

</section>

<section class="protoapp" id="protoapp">
  <div class="protoapp__content">

    <div class="protoapp__col">
      <img src="/images/2016/graphic1.png" alt="">
    </div>

    <div class="protoapp__col">
      <h2 class="protoapp__title">ProtoApp</h2>
      <p class="protoapp__description">
        Através do design thinking e conceitos de UX,
        levantamos problemas e <strong>soluções para sua idéia</strong>,
        entregamos um <strong>protótipo</strong> para demosntração, validação
        e testes com usuários reais, em <strong>duas semanas</strong>.
      </p>
      <a href="#" class="btn btn--primary">Contrate</a>
    </div>

  </div>
</section>

<section class="mvp" id="mvp">
  <div class="mvp__content">

    <div class="mvp__col">
      <h2 class="mvp__title">MVP Expresso</h2>
      <p class="mvp__description">
        Detalhamos sua necessidade, planejamos o projeto
        e entregamos um <strong>app web ou mobile pronto</strong> para
        ser usado ao final de uma semana de trabalho (web)
        ou duas (mobile), com investimento fixo.
      </p>
      <a href="#" class="btn btn--primary">Contrate</a>
    </div>

    <div class="mvp__col">
      <img src="/images/2016/graphic2.png" alt="">
    </div>

  </div>
</section>

<section class="methodology" id="resultado">
  <div class="methodology__content">

    <span class="methodology__result">resultado</span>
    <h2 class="methodology__title">Metodologia</h2>
    <p class="methodology__description">
      Descubra como sua idéia vira App ou Protótipo <br>
      em uma ou duas semanas de trabalho.
    </p>

    <a class="fancybox methodology__play" href="/videos/apresentation.html">
      <span class="icon"></span>
      <span class="text">Assista ao vídeo</span>
    </a>

  </div>
</section>


<section class="testimonials">
  <div class="testimonials__content">

    <span class="testimonials__result">resultado</span>
    <h2 class="testimonials__title">Depoimentos</h2>

    <div class="slider-testimonial">

      <ul class="bxslider">
      {% for testimonial in site.data.testimonials %}

        <li>
          <p class="slider-testimonial__quote">
            {{ testimonial.quote }}
          </p>

          <div class="slider-testimonial__picture">
            <img src="/images/avatars/{{ testimonial.picture }}.png" alt="Author">
          </div>

          <div class="slider-testimonial__author">{{ testimonial.author }}</div>
          <div class="slider-testimonial__project">{{ testimonial.project }}</div>
        </li>
        <!-- end quote -->

      {% endfor %}
      </ul>

      <!-- slider controls -->
      <span class="slider-testimonial__prev"></span>
      <span class="slider-testimonial__next"></span>

    </div>
    <!-- slider -->

  </div>

  <div class="testimonials-video">

    <a class="testimonials-video__box fancybox" href="/videos/arthur-granado.html">
      <figure><img src="/images/2016/testimonial1.jpg" alt="Arthur Granado"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Arthur Granado</span>
        <span class="testimonials-video__project">21212</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" href="/videos/amure-pinho.html" >
      <figure><img src="/images/2016/testimonial2.jpg" alt="Amure Pinho"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Amure Pinho</span>
        <span class="testimonials-video__project">Amigo Não Se Compra</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" href="/videos/cezar-souza.html">
      <figure><img src="/images/2016/testimonial3.jpg" alt="Cezar Souza"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Cezar Souza</span>
        <span class="testimonials-video__project">VentureOne</span>
      </div>
    </a>

    <a class="testimonials-video__box fancybox" href="/videos/juan-bernabo.html">
      <figure><img src="/images/2016/testimonial4.jpg" alt="Juan Bernabó"></figure>
      <div class="testimonials-video__description">
        <span class="testimonials-video__author">Juan Bernabó</span>
        <span class="testimonials-video__project">TeamWare</span>
      </div>
    </a>

  </div>

</section>


<section class="projects">
  <div class="projects__content">
    <span class="projects__result">resultado</span>
    <h2 class="projects__title">Sucesso</h2>
    <p class="projects__description">
      Mais de 80 projetos bem sucedidos.
    </p>
  </div>

  <div class="projects__grid">
  {% for project in site.data.projects %}
    <a class="projects__item" href="{{ project.url }}" target="_blank">
      <img src="{{ project.image }}" alt="{{ project.name }}" />
      <span class="projects__name">{{ project.name }}</span>
    </a>
  {% endfor %}
  </div>
</section>
