<!-- Cases -->
<div class="section cases is-web" data-anchor="cases">
  <header class="cases__header">
    <div class="width-limiter">
      <h2 class="cases__heading">Fazemos acontecer</h2>
      <p class="cases__text">Conheça o <em>What’s Doc</em>. Agora, ficou muito mais fácil encontrar médicos de confiança, em apenas alguns toques!</p>
      <div class="timeline">
        <div class="timeline__ruler timeline__ruler--start"></div>
        <div class="timeline__icon timeline__icon--first">
          <img src="/images/2016/icon-doctor.svg">
        </div>
        <div class="timeline__holder timeline__holder--first">
          <h3 class="timeline__heading">O problema</h3>
          <p class="timeline__text">A idéia surgiu a partir da dificuldade de encontrar médicos de confiança, com algum tipo de recomendação ou reputação construída por pacientes, e conseguir marcar consultas com facilidade.</p>
        </div>
      </div>
    </div>
  </header>
</div>

<!-- Process -->
<div class="section process is-web" data-anchor="process">
  <header class="cases__header">
    <div class="width-limiter">
      <div class="timeline">
        <div class="timeline__ruler timeline__ruler--full"></div>
        <div class="timeline__icon timeline__icon--second">
          <img src="/images/2016/icon-process.svg">
        </div>
        <div class="timeline__holder timeline__holder--second">
          <h3 class="timeline__heading">O processo</h3>
          <p class="timeline__text">Através de design thinking, identificamos o público alvo, buscamos os concorrentes e necessidades de mercado. Várias rodadas de ideias aconteceram, num processo intenso unindo designers e cliente, até chegarmos ao conjunto de soluções que escolhemos testar com usuários de verdade.</p>
        </div>
        <div class="timeline__icon timeline__icon--third">
          <img src="/images/2016/icon-phone.svg">
        </div>
        <div class="timeline__holder timeline__holder--third">
          <h3 class="timeline__heading">A descoberta</h3>
          <p class="timeline__text">Construímos um protótipo navegável onde o usuário poderia buscar um médico, agendar uma consulta e avaliar o atendimento. Analisamos a utilização deste protótipo, por usuários reais - o que nos permitiu analisar se as soluções atendiam da melhor maneira possível e se a experiência planejada era satisfatória.</p>
        </div>
      </div>
    </div>
  </header>
</div>

<!-- Slideshow -->
<div class="section cases is-web" data-anchor="whatsdoc">
  <div class="cases__wrapper">
    <img src="/images/2016/cases.jpg" srcset="/images/2016/cases@2x.jpg 2x" class="cases__img" id="cases-img">
  </div>
</div>
