<footer class="footer footer--protoapp">

  <div class="footer-one footer-one--protoapp">
    <div class="footer__content footer__content--protoapp">
      <div class="footer-one__heading footer-one__heading--protoapp">
        <span class="footer-one__subtitle footer-one__subtitle--protoapp">We are a team of product thinkers, designers and developers experts.</span>
        <h2 class="footer-one__title footer-one__title--protoapp">Make your prototype with us!</h2>
      </div>
      <a href="#modal" title="Contrate!" class="btn btn--tertiary btn--protoapp" id="cta-hire-footer">Hire Us</a>
    </div>
  </div>

  <div class="footer-two footer-two--protoapp">
    {% include footer-social.html %}
  </div>

</footer>
