<div class="footer__content">

  <div class="footer-social">
    <ul>
      <li class="footer-social__icon">
        <a href="http://github.com/Helabs" target="_blank" title="Github"><img src="/images/2016/social-icon-github.svg" alt="Github"></a>
      </li>
      <li class="footer-social__icon">
        <a href="http://www.linkedin.com/company/helabs" target="_blank" title="Linkedin"><img src="/images/2016/social-icon-linkedin.svg" alt="Linkedin"></a>
      </li>
      <li class="footer-social__icon">
        <a href="http://instagram.com/he.labs" target="_blank" title="Instagram"><img src="/images/2016/social-icon-instagram.svg" alt="Instagram"></a>
      </li>
      <li class="footer-social__icon">
        <a href="http://www.facebook.com/helabs/" target="_blank" title="Facebook"><img src="/images/2016/social-icon-facebook.svg" alt="Facebook"></a>
      </li>
      <li class="footer-social__icon">
        <a href="http://twitter.com/helabs" target="_blank" title="Twitter"><img src="/images/2016/social-icon-twitter.svg" alt="Twitter"></a>
      </li>
    </ul>
  </div>

  <p class="footer-two__copyright">© {{ site.time | date: '%Y' }} | Made with ❤ at <a href="http://helabs.com/pt" title="HE:labs" rel="external">HE:labs</a>, a full-stack company specialist in mobile and web software development.</p>

</div>
