<footer class="footer">

  <div class="footer-one">
    <div class="footer__content">
      <div class="footer-one__heading">
        <span class="footer-one__subtitle">
          We are a team of product thinkers, designers and developers experts.
        </span>
        <h2 class="footer-one__title">
          Launch your Startup faster with us!
        </h2>
      </div>
      <a href="#modal" title="Hire Us" class="btn btn--secondary" id="cta-hire-footer">Hire Us</a>
    </div>
  </div>

  <div class="footer-two">
    {% include footer-social.html %}
  </div>

</footer>
