<footer class="footer footer--{{ page.title }}">

  <div class="footer-one footer-one--{{ page.title }}">
    <div class="footer__content footer__content--{{ page.title }}">
      <div class="footer-one__heading footer-one__heading--{{ page.title }}">
        <span class="footer-one__subtitle footer-one__subtitle--{{ page.title }}">Somos um time de experts em produto, designers e desenvolvedores de software.</span>
        <h2 class="footer-one__title footer-one__title--{{ page.title }}">Faça o seu protótipo com a gente!</h2>
      </div>
      <a href="#modal" title="Contrate!" class="btn btn--{{ page.title }}" id="cta-hire-footer">Contrate</a>
    </div>
  </div>

  <div class="footer-two footer-two--{{ page.title }}">
    {% include footer-social.html %}
  </div>

</footer>
