<footer class="footer footer--protoapp">

  <div class="footer-one footer-one--protoapp">
    <div class="footer__content">
      <div class="footer-one__heading footer-one__heading--protoapp">
        <span class="footer-one__subtitle">Somos um time de experts em produto, designers e desenvolvedores de software.</span>
        <h2 class="footer-one__title footer-one__title--protoapp">Faça o seu protótipo com a gente!</h2>
      </div>
      <a href="#modal" title="Contrate!" class="btn btn--tertiary" id="cta-hire-footer">Contrate</a>
    </div>
  </div>

  <div class="footer-two footer-two--protoapp">
    {% include footer-social.html %}
  </div>

</footer>
