<!-- Indication -->
<div class="section indication is-web" data-anchor="indicação" id="indication">
  <div class="width-limiter">
    <h2 class="indication__heading indication__heading--{{ page.title }}">Perfeito para você</h2>
    <p class="indication__text">ProtoApp é a melhor alternativa para sua ideia:</p>

    <ul class="indication__items">
      <li class="indication__item">
        <img src="/images/{{ page.title }}/indication-icon-1.svg" class="indication__icon">
        <h3 class="indication__subheading indication__subheading--{{ page.title }}">Tenho uma ideia!</h3>
        <p class="indication__info">Descubra se o seu produto é realmente incrível, através de um protótipo navegável, testado por usuários reais!</p>
      </li>

      <li class="indication__item">
        <img src="/images/{{ page.title }}/indication-icon-2.svg" class="indication__icon">
        <h3 class="indication__subheading indication__subheading--{{ page.title }}">Preciso de Aprovação</h3>
        <p class="indication__info">Surpreenda os stakeholders de sua empresa tornando sua ideia tangível, testada e validada em busca da melhor experiência.</p>
      </li>

      <li class="indication__item">
        <img src="/images/{{ page.title }}/indication-icon-3.svg" class="indication__icon">
        <h3 class="indication__subheading indication__subheading--{{ page.title }}">Tenho um Software</h3>
        <p class="indication__info">Obtenha insights de melhorias do seu produto em 1 ou 2 semanas, através de indicadores, mesmo em fase de desenvolvimento.</p>
      </li>
    </ul>
  </div>
</div>
