<!-- Investment -->
<div class="section investment" data-anchor="investimento" id="investment">
  <div class="width-limiter investment__inner">
    <h2 class="investment__heading">Invista em sua ideia</h2>
    <p class="investment__text">Descubra como o <strong>ProtoApp</strong> pode surpreendê-lo e propor a melhor experiência para seu público</p>

    <ul class="investment__items">
      <li class="investment__item" data-suffix="+">
        <img src="/images/2016/investment-icon-1.svg" class="investment__icon">
        <h3 class="investment__subheading">Você e 2 Experts</h3>
      </li>

      <li class="investment__item" data-suffix="=">
        <img src="/images/2016/investment-icon-2.svg" class="investment__icon">
        <h3 class="investment__subheading">6 Etapas (2 semanas)</h3>
      </li>

      <li class="investment__item">
        <h3 class="investment__subheading investment__subheading--large">Por apenas:</h3>
        <div class="investment__box">R$ 22K</div>
      </li>
    </ul>
  </div>

  {% include footer-protoapp.html %}

</div>
