<div class="section prod-line__content" data-anchor="etapa-1">
  <div class="prod-line__content-wrapper width-limiter">
    <img src="/images/{{ page.title }}/prototype-1.png" srcset="/images/{{ page.title }}/prototype-1@2x.png 2x" class="prod-line__proto prod-line__proto--invisible">
    <div class="prod-line__content-text">
      <h2 class="prod-line__title">Podemos ajudar?</h2>
      <p class="prod-line__text">Na etapa inicial, buscamos o entendimento do problema a ser resolvido e o time decidirá, quais serão as métricas utilizadas para a obtenção de indicadores e medição de resultados.</p>
    </div>
  </div>
</div>

<div class="section prod-line__content" data-anchor="etapa-2">
  <div class="prod-line__content-wrapper width-limiter">
    <img src="/images/{{ page.title }}/prototype-2.png" srcset="/images/{{ page.title }}/prototype-2@2x.png 2x" class="prod-line__proto prod-line__proto--invisible">
    <div class="prod-line__content-text">
      <h2 class="prod-line__title">Chuva de ideias</h2>
      <p class="prod-line__text">Nesta etapa, colocaremos todas as ideias no papel, com base na definição de rotina do seu usuário. Todos apontarão pontos positivos e negativos sobre cada solução.</p>
    </div>
  </div>
</div>

<div class="section prod-line__content" data-anchor="etapa-3">
  <div class="prod-line__content-wrapper width-limiter">
    <img src="/images/{{ page.title }}/prototype-3.png" srcset="/images/{{ page.title }}/prototype-3@2x.png 2x" class="prod-line__proto prod-line__proto--invisible">
    <div class="prod-line__content-text">
      <h2 class="prod-line__title">É hora de decidir!</h2>
      <p class="prod-line__text">Na terceira etapa, transformaremos as ideias mais votadas em wireframes, adicionando mais detalhes aos desenhos, experimentando variações e trazendo hipóteses relevantes ainda não levantadas.</p>
    </div>
  </div>
</div>

<div class="section prod-line__content" data-anchor="etapa-4">
  <div class="prod-line__content-wrapper width-limiter">
    <img src="/images/{{ page.title }}/prototype-4.png" srcset="/images/{{ page.title }}/prototype-4@2x.png 2x" class="prod-line__proto prod-line__proto--invisible">
    <div class="prod-line__content-text">
      <h2 class="prod-line__title">Transformando sua ideia</h2>
      <p class="prod-line__text">Iniciaremos a construção do protótipo e será feito uma bateria de testes para validar adequadamente as hipóteses levantadas pelo time em busca da melhor experiência possível.</p>
    </div>
  </div>
</div>

<div class="section prod-line__content" data-anchor="etapa-5">
  <div class="prod-line__content-wrapper width-limiter">
    <img src="/images/{{ page.title }}/prototype-5.png" srcset="/images/{{ page.title }}/prototype-5@2x.png 2x" class="prod-line__proto prod-line__proto--invisible">
    <div class="prod-line__content-text">
      <h2 class="prod-line__title">Vamos aos testes!</h2>
      <p class="prod-line__text">Na etapa final, verificaremos através de testes com usuários reais, a validade das soluções propostas pelo time.</p>
    </div>
  </div>
</div>

<div class="section prod-line__content" data-anchor="etapa-6">
  <div class="prod-line__content-wrapper width-limiter">
    <img src="/images/{{ page.title }}/prototype-6.png" srcset="/images/{{ page.title }}/prototype-6@2x.png 2x" class="prod-line__proto prod-line__proto--last prod-line__proto--invisible">
    <div class="prod-line__content-text">
      <h2 class="prod-line__title">Tudo pronto!</h2>
      <p class="prod-line__text">Após o processo de validação, o seu produto se transforma em um protótipo navegável!</p>
    </div>
  </div>
</div>
