<!-- Testimonial -->
<div class="section testimonial is-web" data-anchor="depoimento">
  <div class="timeline__ruler timeline__ruler--finish"></div>
  <div class="width-limiter">
    <p class="testimonial__quote testimonial__quote--protoapp">Foram duas semanas intensas de trabalho: uma das experiências mais imersivas e produtivas que já tive!<span class="testimonial__break"></span>Os designers que formaram o time comigo trouxeram - através de uma série de dinâmicas e exercícios
de pensamento, pesquisa e investigação - muito mais clareza para minha idéia original. Bem como um
diálogo mais eficiente com o público alvo identificado e o mercado.<span class="testimonial__break"></span>Saí da experiência feliz e com um protótipo que será validado por muitos usuários para refinar ainda mais
o produto, até quando eu sentir que está no ponto para ser lançado.</p>
    <img src="/images/{{ page.title }}/testimonial-avatar.png" srcset="/images/{{ page.title }}/testimonial-avatar@2x.png 2x" alt="Maria Claudia Azevedo" class="testimonial__avatar">
    <h3 class="testimonial__name">Maria Claudia Azevedo</h3>
    <p class="testimonial__info testimonial__info--protoapp">What’s Doc App</p>
  </div>
</div>
