---
published: false
layout: services
description: 'Desenvolvimento de app mobile para startups com preço fixo e em apenas 10 dias.'
keywords: 'desenvolvimento, programação, mvp, mobile, aplicativo, startup'
title: 'Desenvolvimento de MVP (Minimum Viable Product) Mobile para Startups - Startupdev MVP'
favicon: '/favicon.png'
class: 'mobile_mvp_page'
css_file: 'mobile-mvp'
permalink: 'mobile-mvp/'
---
{% include services_list.html %}
{% include live_chat.html %}
<header id="top">
  <nav id="nav">
    <ul>
      <li><a href="#" id="call-to-action">Como funciona</a></li>
      <li><a href="#" id="projects">Clientes atendidos</a></li>
      <li><a href="#" id="who-we-are">Quem somos</a></li>
      <li><a href="#" id="contact">Contratar</a></li>
    </ul>
  </nav>
  <div class="grid">
    <h1>
      <a href="/">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </h1>
    <span class="call">
      <strong>Startupdev MVP Mobile</strong> mais um serviço Startupdev para decolar seu negócio
    </span>
    <a class="other-services" href="#">Outros serviços</a>
  </div>
  <a  class="language" href="/en/startup-services/mobile-app-design" title="English Version">en</a>
</header>

<section id="content">
  <article id="landing" class="call-to-action">
    <div class="grid">
      <p>Desenvolva seu MVP mobile iOS ou Android em 8 dias por apenas R$16.500,00!</p>

      <ul id="steps">
        <li class="idea plus">Sua ideia de app mobile</li>
        <li class="staff plus">Time expecializado</li>
        <li class="time plus">8 dias de trabalho</li>
        <li class="money equal">Investimento de R$ 16.500,00</li>
        <li class="result mobile">Sua App lindona</li>
      </ul>
      <div class="more">
        <a href="#contact" class="bt">Entre em Contato</a>
      </div>
    </div>
  </article>
  <article class="projects">
    <div class="grid">
      <h3>Projetos entregues com sucesso</h3>
      <div id="projects_gallery">
        <ul>
          {% for client in page.clients %}
          <li>
            <a href="{{ client.image }}" title="Ampliar a imagem" target="_blank" rel="nofollow" class="photo">
              <img src="{{ client.image }}" width="580" height="301" alt="{{ client.name }}" />
            </a>
            <h6>{{ client.name }}</h6>
            <p style="text-align: center">{{ client.description }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
  <article class="who-we-are">
    <div class="grid">
      <h3>Nós somos a HE:mobile</h3>
      <p>Somos uma equipe multidisciplinar composta por desenvolvedores, designers e gestores apaixonados por mobile. Somos especialistas nas tecnologias de ponta mais adequadas para atender a sua necessidade. Nós aplicamos metodologias e práticas de desenvolvimento de produto como Design Thinking, Lean Startup e Desenvolvimento Ágil para transformar a sua ideia em um produto real.</p>
      <span class="company">
        <a href="http://hemobile.com.br" target="_blank"><img src="/images/logos/hemobile.png" alt="HE:mobile" /></a>
      </span>
    </div>
  </article>
  <article class="contact">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="/css/form-2.css" media="all" rel="stylesheet" />
    <div class="grid">
      <h3>Então, vamos trabalhar juntos?</h3>
      <p>Preencha os seus dados abaixo e nós entramos em contato rapidinho para te atender.</p>

      <form id="form_contact" name="form3" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
            action="https://startupdev.wufoo.eu/forms/zst72qw1e4fr33/#public">

        <div class="form-div name">
            <label for="Field1">Nome</label>
            <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1" placeholder="Nome" required />
            <label for="Field2">Sobrenome</label>
            <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="14" tabindex="2" placeholder="Sobrenome" required />
          </span>
        </div>

        <div class="form-div email">
          <label for="email">Email</label>
          <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="3" placeholder="E-mail" required />
        </div>

        <div class="form-div tel">
          <label for="tel">Telefone</label>
          <input id="Field4" class="field text medium" name="Field4" tabindex="4" required  type="tel" maxlength="255" value="" placeholder="Telefone (com DDD)" />
        </div>

        <div class="submit-div">
          <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Entrar em Contato" />
        </div>

        <div class="hide">
          <label for="comment">Do Not Fill This Out</label>
          <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
          <input type="hidden" id="idstamp" name="idstamp" value="vAdmLDK3bE2omw0tx1MY+lWTiXag4BEYV3Vm3WKyrK4=" />
        </div>
      </form>
    </div>
  </article>
</section>
<footer id="footer">
  <div class="grid">
    <div class="share">
      <a href="#">
        <img src="/images/logos/startupdev-logo-s.png" alt="Startup DEV" />
      </a>
    </div>
    <h4>
      <span>Startupdev App Design é um serviço realizado pela</span>
      <a href="http://hemobile.com.br" target="_blank"><img src="/images/logos/hemobile-small.png" alt="HE:mobile" /></a>
    </h4>
  </div>
</footer>
