// *************************************
//
//   Main Layout
//
// *************************************

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: $base-background-color;
}

.main-banner {
  background: $nightrider;
  min-height: rem(690);
  width: 100%;

  &__content {
    @include outer-container();
    padding-top: rem(144);
    text-align: center;
  }

  &__h1 {
    color: $supernova;
    font-family: $heading-font-family;
    font-size: 48px;
    margin-bottom: rem(18);
  }

  &__h2 {
    color: $white;
    font-family: $base-font-family;
    font-size: 26px;
    font-weight: 400;
    line-height: rem(40);

    strong {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.protoapp {
  @include span-columns(12);
  background: $supernova;
  min-height: rem(690);

  &__content {
    @include outer-container();
    padding-top: rem(144);
    text-align: center;
  }

  &__col {
    @include span-columns(6 of 12);
  }

  &__title {
    color: $nightrider;
    font-size: rem(46);
    font-weight: 900;
  }

  &__description {
    color: $white;
    font-family: $base-font-family;
    font-size: rem(20);
  }

  .btn {
    margin-top: rem(50);
  }

}


.mvp {
  @include span-columns(12);
  background: $whisper;
  min-height: rem(690);

  &__content {
    @include outer-container();
    padding-top: rem(144);
    text-align: center;
  }

  &__col {
    @include span-columns(6 of 12);
  }

  &__title {
    color: $supernova;
    font-size: rem(46);
    font-weight: 900;
  }

  &__description {
    color: $nero;
    font-family: $base-font-family;
    font-size: rem(20);
  }

  .btn {
    margin-top: rem(50);
  }

}


.methodology {
  @include span-columns(12);
  background: url('/images/2016/background-meto.jpg') no-repeat top center $nightrider;
  background-size: cover;
  min-height: rem(690);

  &__content {
    @include outer-container();
    padding-top: rem(120);
    text-align: center;
  }

  &__result {
    border-bottom: 5px solid $supernova;
    color: $white;
    font-size: rem(14);
    text-transform: uppercase;
  }

  &__title {
    color: $supernova;
    font-size: rem(46);
    font-weight: 900;
    margin-top: rem(20);
  }

  &__description {
    font-family: $base-font-family;
    font-size: rem(32);
  }

  &__play {
    display: block;
    margin: 0 auto;
    width: rem(150);

    .icon {
      @include size(140px);
      background: url('/images/2016/play-video.svg') no-repeat top center;
      display: block;
      margin: 0 auto;
    }

    .text {
      display: inline-block;
      font-size: rem(22);
      margin-top: rem(10);

      &::after {
        background: url('/images/2016/arrow.svg') no-repeat top right;
        content: '';
        display: block;
        height: 9px;
        position: static;
        width: 100%;
      }
    }

  }

  &__play:hover {
    .text {
      color: $supernova;
    }
  }

}

.testimonials {
  @include span-columns(12);
  background: $nightrider;
  min-height: rem(690);

  &__content {
    @include outer-container();
    padding-top: rem(40);
    text-align: center;
  }

  &__result {
    border-bottom: 5px solid $supernova;
    color: $white;
    font-size: rem(14);
    text-transform: uppercase;
  }

  &__title {
    color: $supernova;
    font-size: rem(46);
    font-weight: 900;
    margin-top: rem(20);
  }

}

.slider-testimonial {
  margin: 0 auto;
  max-width: rem(760);
  position: relative;

  &::before {
    @include position(absolute, 0 null null 0);
    @include size(47px 199px);
    background: url('/images/2016/slider-testimonials-background.png') no-repeat top left;
    content: '';
  }

  &::after {
    @include position(absolute, 0 0 null null);
    @include size(47px 199px);
    background: url('/images/2016/slider-testimonials-background.png') no-repeat top right;
    content: '';
  }

  &__quote {
    font-family: $base-font-family;
    font-size: rem(18);
    font-style: italic;
    font-weight: 300;
    margin: 20px auto;
    max-width: rem(570);
    min-height: rem(220);
  }

  &__picture {
    @include size(200px 110px);
    background: url('/images/2016/slider-background-author.svg') no-repeat top center;
    display: inline-block;
    margin: 0 auto;

    img {
      margin: rem(10) 0 0 rem(4);
    }
  }

  &__author {
    color: $white;
    font-size: rem(18);
  }

  &__project {
    color: $supernova;
    font-family: $heading-font-family;
    font-size: rem(16);
    font-weight: 900;
  }

  &__prev {
    @include position(absolute, null null 100px 50px);
    color: $white;
    font-size: rem(22);
    font-weight: 300;
    z-index: 999;

    &::after {
      background: url('/images/2016/arrow-prev.svg') no-repeat top left;
      content: '';
      display: block;
      height: 9px;
      position: static;
      width: 100%;
    }
  }

  &__next {
    @include position(absolute, null 50px 100px null);
    color: $white;
    font-size: rem(22);
    font-weight: 300;
    z-index: 999;

    &::after {
      background: url('/images/2016/arrow.svg') no-repeat top right;
      content: '';
      display: block;
      height: 9px;
      position: static;
      width: 100%;
    }
  }

  a:hover {
    color: $supernova;
  }

}


.testimonials-video {
  @include span-columns(12);
  @include row(table);
  margin-top: rem(100);

  figure {
    @include size(100% auto);
    float: left;
    opacity: .4;
    transition: opacity .2s;
  }

  img {
    @include size(100% auto);
    float: left;
  }

  &__box {
    @include span-columns(3, table);
    @include omega;
    cursor: pointer;
    height: 180px;
    margin: 0;
    position: relative;

    @include media($screen-small) {
     @include span-columns(2, block);
    }

    &:hover > figure {
      opacity: 1;
    }

    &:hover{
      .testimonials-video__author::before {
        background: url('/images/2016/arrow.svg') no-repeat top right;
        content: '';
        display: block;
        height: 9px;
        position: static;
        width: 100%;
      }
    }
  }

  &__description {
    @include position(absolute, null null 10px null);
    text-align: center;
    width: 100%;
  }

  &__author {
    color: $white;
    display: inline-block;
    font-size: rem(18);

    &::before {
      @include transition(all .2s);
      content: '';
      width: 0;
    }
  }

  &__project {
    color: $supernova;
    display: inline-block;
    font-family: $heading-font-family;
    font-size: rem(16);
    font-weight: 900;
    width: 100%;
  }
}
