
//============== Themes ==============//

$theme-colors: dark $dark-color $light-color, light $light-color $dark-color;

@each $theme, $color, $color-inverse in $theme-colors {
  .steps.#{$theme} {
    border: 2px solid #{$color};
    color: #{$color};

    ul li::after {
      background: url("../images/2016/arrow-#{$theme}.svg");
    }

    ul li a {
      @if $theme == light {
        background: $background-color;
      } @else {
        background: $whisper;
      }

      border: 2px solid #{$color};
      box-shadow: 0 0 0 0 transparent;
      color: #{$color};
    }

    ul li a:hover {
      background: #{$color-inverse};
      box-shadow: 0 0 0 3px #{$color-inverse};
    }

    .steps__description a {

      @if $theme == light {
        border-bottom: 1px solid #{$color-inverse};
        color: #{$color-inverse};
      } @else {
        border-bottom: 1px solid $background-color;
        color: $background-color;
      }

      &:hover {
        background: #{$color-inverse};
        border-bottom: 1px solid transparent;
        color: #{$color};
      }
    }
  }
}

//============== Structure ==============//

.wrapper {
  padding: 2em;
  text-align: center;

  @include media($screen-tiny) {
    padding: 0;
  }
}

.steps {
  @include size(20em);
  border: 2px solid $white;
  border-radius: 50%;
  color: $white;
  list-style: none;
  margin: 0 auto;
  position: relative;
  z-index: 0;

  @include media($screen-tiny) {
    @include size(15em);
    margin-bottom: 3em;
  }

  &__icon {
    padding-top: 2.5em;
    width: 42%;

    @include media($screen-tiny) {
      display: none;
    }
  }

  &__description {
    bottom: 2.5em;
    font-size: .9em;
    padding: 0 3em;
    position: absolute;

    @include media($screen-tiny) {
      bottom: 3em;
    }

    span {
      font-weight: bold;
      padding-right: .3em;
    }

    a {
      @include transition(all .5s ease-in-out);
      display: inline-block;
      font-size: .9em;
      margin-top: .6em;
      padding: .2em .5em;
      text-decoration: none;
    }
  }
}

// scss-lint:disable IdSelector
#steps-menu li {
  @include transition(all 1.2s ease-in-out);
  border-left: 140px solid transparent;
  border-top: 1px solid transparent;
  font-size: .65em;
  left: 50%;
  list-style: none;
  position: absolute;
  top: 50%;
  transform-origin: 0 0;

  @include media($screen-tiny) {
    border-left: 100px solid transparent;
  }

  &::after {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    content: ' ';
    font-size: 3.5em;
    height: .4em;
    margin-left: -8px;
    margin-top: -75px;
    position: absolute;
    transform: rotate(-29deg);
    width: .7em;

    @include media($screen-tiny) {
      margin-left: -2px;
      margin-top: -50px;
    }
  }

  a {
    @include size(2em);
    @include transition(all .5s ease-in-out);
    border-radius: 50%;
    font-size: 1.8em;
    line-height: 1.8;
    position: absolute;
    text-align: center;
    text-decoration: none;
  }
}

$angle-list: step-1 -202, step-2 -144, step-3 -82, step-4 -22, step-5 38, step-6 96;

@each $step, $angle in $angle-list {
  .#{$step} {
    @for $i from 1 through 6 {
      $new-angle: (60 * $i) - $angle;

      ul li:nth-of-type(#{$i}) {
        transform: rotate(#{$new-angle}deg);

        a {
          transform: rotate(#{-$new-angle}deg);
        }
      }
    }
  }
}

#step-1 {
  display: block;
}

.step-content {
  display: none;
}

// scss-lint:disable ImportantRule
.is-active a {
  background: $dark-color !important;
  color: $white !important;
  font-size: 2em !important;
}
