.cases {

  &__header {
    background: $grey;
    padding: 100px 20px;
    text-align: center;
  }

  &__heading {
    color: $green;
    font: 700 46px $heading-font-family;
    margin: 0 0 10px;

    @include media($screen-small) {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 28px;

    @include media($screen-small) {
      font-size: 16px;
    }

    em {
      color: $green;
      font-style: normal;
    }
  }

  &__wrapper {
    overflow: hidden;
  }

  &.fp-completely {

    .cases__img {
      transition: 20s linear;

      @include media($screen-small) {
        transition: none;
      }
    }
  }

  &__img {
    display: block;
    height: 100vh;
    max-width: none;
    position: relative;

    @include media($screen-small) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
