.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  text-align: center;

  &--protoapp {
    $height: 720px;
    @include retina-image('../images/2016/background-protoapp', cover, 'jpg', null, '@2x');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__wrapper {
    $bg: rgba(0, 0, 0, .2);
    background: $bg;
    flex: 1;
    padding: 80px 20px;

    @include media($screen-small) {
      padding: 40px 20px;
    }
  }

  &__title {
    color: $supernova;
    font: 700 46px $heading-font-family;
    margin: 0 0 20px;

    @include media($screen-small) {
      font-size: 32px;
    }

    &--protoapp {
      color: $green;
    }
  }

  &__text {
    font-size: 32px;
    line-height: 1.4;
    margin: auto;
    max-width: 800px;

    @include media($screen-small) {
      font-size: 20px;
    }
  }

  &__icon {
    $size: 55px;
    @include position(absolute, null null 25px 50%);
    @include size($size);
    background: url('/images/2016/icon-scrolling.svg') no-repeat center;
    display: block;
    margin-left: -$size / 2;

    @include media($screen-small) {
      background-image: url('/images/2016/icon-arrow-down.svg');
      bottom: 15px;
    }
  }
}
