.investment {
  color: $nero;
  text-align: center;


  &__center {
    @include span-columns(8 of 12);
    @include omega();

    @include media($screen-small) {
      @include span-columns(6 of 12);
      @include omega();
    }
  }

  &__spacer {
    padding-top: 90px;

    &--small {
      padding-top: 40px;
    }
  }

  &__button-wrapper {
    @include span-columns(2 of 12);

    @include media($screen-small) {
      @include span-columns(12 of 12);
      @include omega();
    }
  }

  &__title-wrapper {
    @include span-columns(2 of 12);

    @include media($screen-small) {
      @include span-columns(6 of 12);
      margin-top: 43px;
    }
  }

  &__title {
    color: $nero;
    float: left;
    font-size: 30px;
    font-weight: bold;
  }

  &__arrow {
    float: right;
    margin-top: 7px;
    margin-left: 7px;
    margin-top: 10px;
  }

  &__inner {
    @include span-columns(12);
    margin-bottom: 100px;

    @include media($screen-small) {
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }

  &__heading {
    font: 700 46px $heading-font-family;
    margin: 0;

    @include media($screen-small) {
      font-size: 32px;
      padding: 0;
    }
  }

  &__subheading {
    font-size: 14px;
    font-weight: 600;
    margin: 0;

    @include media($screen-small) {
      font-size: 18px;
      font-weight: normal;
      margin-top: 10px;
    }

    &--large {
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 10px;

      @include media($screen-small) {
        font-size: 24px;
        margin: 10px 0 0;
      }
    }
  }

  &__text {
    color: $white;
    font-size: 28px;
    margin: auto;
    max-width: 800px;
    padding: 0 20px;

    @include media($screen-small) {
      font-size: 16px;
      padding: 10px 0 0;
    }

    strong {
      font-weight: 700;
    }
  }

  &__items {
    display: flex;
    margin-top: 60px;

    @include media($screen-small) {
      flex: 0 0 100%;
      padding: 0;
      margin-top: 0;
    }
  }

  &__item {
    color: $nero;
    flex: 0 0 33.3333%;
    padding: 0 20px;
    position: relative;

    @include media($screen-small) {
      flex: 0 0 100%;
      padding: 0;
      margin: 0;
    }

    &--small { flex: 0 0 24.3333%; }



    &::after {
      color: $nero;
      content: attr(data-suffix);
      font: 700 46px $heading-font-family;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);

      @include media($screen-small) {
        font-size: 20px;
        right: -8px;
        top: 60px;
        transform: translateX(-50%);
      }
    }

    &:first-child::after {
      right: -25px;

      @include media($screen-small) {
        right: -15px;
      }
    }

    &:not(:last-child) {

      @include media($screen-small) {
        display: none;
      }
    }

    &:last-child::after {
      display: none;
    }
  }

  &__icon {
    height: 60px;
    margin-bottom: 10px;

    @include media($screen-small) {
      @include size(75px auto);
    }
  }

  &__box {
    border: 2px solid $nero;
    border-radius: 4px;
    color: $nero;
    font-size: 22px;
    margin: 5px auto 0;
    max-width: 120px;
    padding: 5px;
  }
}
