.cases {

  &__header {
    background: $grey;
    padding: 0 20px 40px;
    text-align: center;
  }

  &__heading {
    color: $supernova;
    font: 700 46px $heading-font-family;
    margin: 0 0 10px;
  }

  &__text {
    font-size: 28px;

    em {
      color: $supernova;
      font-style: normal;
    }
  }

  &__img {
    display: block;
    width: 100vw;
  }
}
