.hero {
  min-height: 100vh;
  padding: 280px 50px 0;
  position: relative;
  text-align: center;

  &--protoapp {
    $height: 720px;
    @include retina-image('../images/2016/background-protoapp', 1440px $height, 'jpg', null, '@2x');
    background-repeat: no-repeat;
    background-size: cover;
    height: $height;
    z-index: 20;
  }

  &__title {
    color: $supernova;
    font: 700 46px $heading-font-family;
    margin: 0 0 20px;
  }

  &__text {
    font-size: 32px;
    line-height: 1.4;
    margin: auto;
    max-width: 800px;
  }

  &__icon {
    $size: 55px;
    @include size($size);
    background-image: url('/images/2016/icon-scrolling.svg');
    bottom: 25px;
    display: block;
    left: 50%;
    margin-left: -$size / 2;
    position: absolute;
  }
}
