.indication {
  background: $whisper;
  color: $grey;
  text-align: center;

  @include media($screen-small) {
    padding: 0 20px;
  }

  &__heading {
    color: $supernova;
    font: 700 46px $heading-font-family;
    margin: 0;

    @include media($screen-small) {
      padding: 0 30px;
    }
  }

  &__text {
    font-size: 28px;

    @include media($screen-small) {
      padding: 20px;
    }
  }

  &__items {
    display: flex;
    margin-top: 60px;
  }

  &__item {
    padding: 0 30px;
  }

  &__icon {
    @include size(215px);

    @media only screen and (max-height: 700px) {
      @include size(150px);
    }

    @include media($screen-small) {
      @include size(70vw);
      margin-bottom: 15px;
    }
  }

  &__subheading {
    color: $supernova;
    font-size: 26px;
    font-weight: 700;
    margin: 15px 0 5px;

    @include media($screen-small) {
      font-size: 30px;
    }
  }

  &__info {
    font-size: 18px;
    line-height: 1.4;

    @include media($screen-small) {
      font-size: 22px;
    }
  }
}
