.indication {
  background: $whisper;
  color: $grey;
  text-align: center;

  &__heading {
    color: $supernova;
    font: 700 46px $heading-font-family;
    margin: 0;
  }

  &__text {
    font-size: 28px;
  }

  &__items {
    display: flex;
    margin-top: 60px;
  }

  &__item {
    padding: 0 20px;
  }

  &__icon {
    @media only screen and (max-height: 700px) {
      @include size(175px);
    }
  }

  &__subheading {
    color: $supernova;
    font-size: 26px;
    font-weight: 700;
    margin: 15px 0 5px;
  }

  &__info {
    font-size: 18px;
    line-height: 1.4;
  }
}
